<div id="wrapper">
  <%= render "/static_pages/admin_sidebar" %>
  <div id="page-content-wrapper">
    <%= render "/static_pages/flash_container" %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          
            <h1>Listing Files</h1>
            <h5>오리지널 데이터 파일들 확인하고 관리하기 위한 임시페이지. 원래는 필요없음.</h5>
            <br><br>

            <table class="table table-bordered">
              <thead>
                <tr>
                  <th> ID </th>
                  <th> File </th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @all_odfs.each do |odf| %>
                  <tr>
                    <td><%= odf.odf_id %></td>
                    <td><%= link_to 'File', odf, method: :show_file %></td>
                    <td><%= link_to 'Delete', odf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

            <br><br><br>

           <%= render "/static_pages/menu_toggle" %>
        </div>
      </div>
    </div>
  </div>
</div>

