<div id="wrapper">
  <%= render "/static_pages/sidebar" %>
  <div id="page-content-wrapper">
    <%= render "/static_pages/flash_container" %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          
            <h1>Listing Details for <%= @task.tdt_name %></h1>
            <h3> Summary </h3>
            Tuple Num : <%= @tuple_num %> <br>
            My PDSF Num : <%= @my_pdsf_num %> <br>
            <h3> ODTs </h3>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th> Name </th>
                  <th> Schema Info </th>
                  <th> Mapping Info </th>
                  <th> See Details </th>
                  <!--
                  <th> Action </th>
                  <th> Season </th>
                  <th> Period </th>
                  -->
                  <th> Submit </th>
                </tr>
              </thead>
              <tbody>
                <% @odts.each do |odt| %>
                  <tr>
                    <td><%= odt.odt_name %></td>
                    <td><%= odt.schema_info %></td>
                    <td><%= odt.mapping_info %></td>
                    <td><%= link_to "See", :controller => "implement_odt", :action => :index, :odt_id => odt.odt_id, :user_id => current_user.user_id %></td>
                    <!--
                    <%= form_for(:original_data_file, :url => { :controller => "original_data_file", :action => "upload"}, :method => "post" ) do |f| %>
                      <td>
                      <%= f.file_field :data, accept: 'text/csv'%>
                      <%= f.hidden_field :task_id, :value => @task.task_id %>
                      <%= f.hidden_field :odt_id, :value => odt.odt_id %>
                      </td><td>
                      <%= f.number_field :season_info, :value => 1 %>
                      </td><td>
                      <%= f.number_field :period_info, :value => 1 %>
                      </td><td>
                      <%= f.submit "Submit", class: "btn btn-primary" %>
                      <% end %>
                      </td>
                    -->
                    <td>
                    <%= form_for(:original_data_file, :url => { :controller => "original_data_file", :action => "upload" }, :method => "post" ) do |f| %>
                      <%= f.file_field :data, accept: 'text/csv'%>
                      <%= f.hidden_field :task_id, :value => @task.task_id %>
                      <%= f.hidden_field :odt_id, :value => odt.odt_id %>
                      <%= f.label :season %> 
                      <%= f.number_field :season_info, :value => 1 %> <br>
                      <%= f.label :period %> 
                      <%= f.number_field :period_info, :value => 1 %>
                      <%= f.submit "Submit", class: "btn btn-primary" %>
                      <% end %>
                      </td>
                  </tr>
                <% end %>
              </tbody>
            </table>

            <br>
          <%= render "/static_pages/menu_toggle" %>
        </div>
      </div>
    </div>
  </div>
</div>