<% provide(:title, "Add new Original Data Type") %>
<div class="row">
  <div class="flash_container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <%= yield %>
  </div>
  
  <div class="col-md-6 col-md-offset-3">
    <h1>Add new Original Data Type for <%= @task.tdt_name %> </h1>
    **** Attribute type should be one of : string, text, integer, float, decimal, datetime, timestamp, time, date, binary, boolean ****
    <%= form_for(:original_data_type, :url => { :controller => "original_data_type", :action => "create"}, :method => "post" ) do |f| %>
      <%= f.hidden_field :task_id, :value => @task.task_id, class: 'form-control' %>
      <li>
      <%= f.label :"original data type schema information" %> (json format)
      <%= f.text_field :schema_info, :value => '{"bar" : "string"}', class: 'form-control' %>
      </li><li>
      <%= f.label :"mapping information" %> (json format)
      <%= f.text_field :mapping_info, :value => '{"foo" : "bar"}', class: 'form-control' %>
      </li>
      <%= f.submit "Create", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>