<div id="wrapper">
  <%= render "/static_pages/admin_sidebar" %>
  <div id="page-content-wrapper">
    <%= render "/static_pages/flash_container" %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
    
              <%= form_for(:original_data_type, :url => { :controller => "original_data_type", :action => "create"}, :html => {:class => "form-general"}, :method => "post" ) do |f| %>

                <h2 class="form-general-heading">Add new Original Data Type for <%= @task.tdt_name %></h2>

                <div class="form-group">
                  <%= f.hidden_field :task_id, :value => @task.task_id, class: 'form-control' %>
                </div>

                <div class="form-group">
                  <%= f.text_field :odt_name, class: 'form-control', placeholder: 'odt_name' %>
                </div>
                
                <div>
                  <br>
                  <p><span class="label label-default">ODT schema information</span></p>
                </div>

                <%= f.hidden_field :attr_num, :value => @attr_num, class: 'form-control' %>
                <%= f.hidden_field :map_num, :value => @map_num, class: 'form-control' %>
               
                <% for i in 0...@attr_num %>
                <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <% var1 = "name" + i.to_s %>
                    <%= f.text_field var1.to_sym, class: 'form-control', placeholder: 'attribute name' %>
                  </div>      
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <% var2 = "type" + i.to_s %>
                     <!-- <%= f.select(var2.to_sym, ['string', 'text', 'integer', 'float', 'decimal', 'timestamp', 'time', 'date', 'datetime', 'binary', 'boolean'], {include_blank: "type"}, { :class => 'form-control' }) %>
                    or  --> 
                    <%= f.text_field var2.to_sym, class: 'form-control', placeholder: 'user-defined type' %>
                  </div>      
                  </div>
                  </div>
                <% end %>
                <%= link_to 'Add type', :controller => "original_data_type", :method => "get", :action => :new, :attr_num => (@attr_num + 1), :task_id => @task.task_id %>


                <div>
                  <br>
                  <p><span class="label label-default">ODT mapping information</span></p>
                </div>

                <% for i in 0...@map_num %>
                <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <% var1 = "from" + i.to_s %>
                    <%= f.text_field var1.to_sym, class: 'form-control', placeholder: 'mapping from' %>
                  </div>      
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <% var2 = "to" + i.to_s %>
                    <%= f.text_field var2.to_sym, class: 'form-control', placeholder: 'to' %> 
                  </div>      
                  </div>
                  </div>
                <% end %>
              <%= link_to 'Add type', :controller => "original_data_type",:method => "get", :action => :new, :map_num => (@map_num + 1), :task_id => @task.task_id %>
                
                <%= f.submit "Create", class: "btn btn-lg btn-primary btn-block" %>
              <% end %>
        </div>
      </div>
    </div>
  </div>

</div>