<div id="wrapper">
  <%= render "/static_pages/admin_sidebar" %>
  <div id="page-content-wrapper">
    <%= render "/static_pages/flash_container" %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          
            <h1>Listing Details for <%= @task.tdt_name %></h1>
            <h3> Summary </h3>
            Tuple Num : <%= @tuple_num %> <br>
            PDSF Num : <%= @pdsf_num %> <br>
            <h3> ODTs </h3>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th> ID </th>
                  <th> Name </th>
                  <th> Schema Info </th>
                  <th> Mapping Info </th>
                </tr>
              </thead>
              <tbody>
                <% @odts.each do |odt| %>
                  <tr>
                    <td><%= odt.odt_id %></td>
                    <td><%= odt.odt_name %></td>
                    <td><%= odt.schema_info %></td>
                    <td><%= odt.mapping_info %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

            <br>
          <%= render "/static_pages/menu_toggle" %>
        </div>
      </div>
    </div>
  </div>
</div>
