<h2>My Tasks</h2>

<h3>Pending Tasks </h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th> Name </th>
      <th> Description </th>
    </tr>
  </thead>
  <tbody>
    <% @my_pending_tasks.each do |task| %>
      <tr>
        <td><%= task.task_name %></td>
        <td><%= task.description %></td>
      </tr>
     <% end %>
  </tbody>
</table>

<h3>Proceeding Tasks </h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th> Name </th>
      <th> Description </th>
      <th> Action </th>
    </tr>
  </thead>
  <tbody>
    <% @my_proceeding_tasks.each do |task| %>
      <tr>
        <td><%= task.task_name %></td>
        <td><%= task.description %></td>
        <td><%= link_to "See Details", :controller => "original_data_type", :action => :index, :task_id => task.task_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>    
<br>