<div id="wrapper">
  <%= render "/static_pages/sidebar" %>
  <div id="page-content-wrapper">
    <%= render "/static_pages/flash_container" %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <% if current_user != nil %>
            <% if current_user.is_submit == true %>       
              <%= render "all_tasks" %>
              <%= render "submit_tasks" %>
            <% elsif current_user.is_eval == true %>
              <%= render "eval_tasks" %>
            <% end %> 
          <% end %>
          <%= render "/static_pages/menu_toggle" %>
        </div>
      </div>
    </div>
  </div>
</div>