<% provide(:title, "Create a Task") %>
<div class="row">
  <div class="flash_container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <%= yield %>
  </div>
  
  <div class="col-md-6 col-md-offset-3">
    <h1>Create a Task </h1>
    **** Attribute type should be one of : string, text, integer, float, decimal, datetime, timestamp, time, date, binary, boolean ****
    <%= form_for(:task, :url => { :controller => "task", :action => "create"}, :method => "post" ) do |f| %>
      <li>
      <%= f.label :"task name" %>
      <%= f.text_field :task_name, class: 'form-control' %>
      </li><li>
      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control' %>
      </li><li>
      <%= f.label :"min upload period hour" %>
      <%= f.number_field :min_upload_period_hour, class: 'form-control' %>
      </li><li>
      <%= f.label :"task data table name" %>
      <%= f.text_field :tdt_name, class: 'form-control' %>
      </li><li>
      <%= f.label :"task data table schema information" %> (json format)
      <%= f.text_field :tdt_schema_info, :value => '{"foo" : "string"}', class: 'form-control' %>
        </li>
      <%= f.submit "Create", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>