<% provide(:title, "Edit") %>
<div class="row">
  <div class="flash_container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <%= yield %>
  </div>
  
  <div class="col-md-6 col-md-offset-3">
  	<h1>Edit</h1>
    <h2><%=@edit_user.login_id %></h2>
    <%= form_for(:user, :url => { :controller => "user", :action => "update"}, :method => "post" ) do |f| %>
      <%= f.hidden_field :user_id, :value =>@edit_user.user_id, class: 'form-control' %>
      <li>
      <%= f.label :id %>
      <%= f.hidden_field :login_id, :value =>@edit_user.login_id, class: 'form-control' %>
      </li><li>
      <%= f.label :password %>
      <%= f.password_field :password, :value =>@edit_user.password, class: 'form-control' %>
      </li><li>
      <%= f.label :name %>
      <%= f.text_field :name, :value =>@edit_user.name, class: 'form-control' %>
      </li><li>
      <%= f.label :sex %>
      <%= f.select :sex, ['female', 'male'],  :value =>@edit_user.sex, class: 'form-control' %>
      </li><li>
      <%= f.label :address %> (optional)
      <%= f.text_field :address, :value =>@edit_user.address, class: 'form-control' %>
      </li><li>
      <%= f.label :birthdate %>
      <%= f.date_field :birthdate, :value =>@edit_user.birthdate, class: 'form-control' %>
      </li><li>
      <%= f.label :cellphone %> (000-0000-0000)
      <%= f.text_field :cellphone, :value =>@edit_user.cellphone, class: 'form-control' %>
      </li><li>
      <%= f.label :usertype %>
      <% if @edit_user.is_eval %>
        <%= f.select :user_type, ['eval', 'submit'],  :selected => 'eval', class: 'form-control' %>
      <% elsif @edit_user.is_submit %>
        <%= f.select :user_type, ['eval', 'submit'],  :selected => 'submit', class: 'form-control' %>
      <% end %>
      </li>
      <%= f.submit "Edit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>