<div id="wrapper">
  <%= render "/static_pages/sidebar" %>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <% provide(:title, "Sign in") %>
          <div class="row">
            <div class="flash_container">
            <% flash.each do |key, value| %>
              <div class="alert alert-<%= key %>"><%= value %></div>
            <% end %>
            <%= yield %>
            </div>
            
            <div class="col-md-6 col-md-offset-3">
              <h1>Join</h1>
              <%= form_for(:user, :url => { :controller => "user", :action => "create"}, :method => "post" ) do |f| %>
                <li>
                <%= f.label :id %>
                <%= f.text_field :login_id, class: 'form-control' %>
                </li><li>
                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control' %>
                </li><li>
                <%= f.label :name %>
                <%= f.text_field :name, class: 'form-control' %>
                </li><li>
                <%= f.label :sex %>
                <%= f.select :sex, ['female', 'male'], class: 'form-control' %>
                </li><li>
                <%= f.label :address %> (optional)
                <%= f.text_field :address, class: 'form-control' %>
                </li><li>
                <%= f.label :birthdate %>
                <%= f.date_field :birthdate, class: 'form-control' %>
                </li><li>
                <%= f.label :cellphone %> (000-0000-0000)
                <%= f.text_field :cellphone, class: 'form-control' %>
                </li><li>
                <%= f.label :user_type %>
                <%= f.select :user_type, ['eval', 'submit'], :selected => "eval", class: 'form_control' %>
                </li>
                <%= f.submit "Join", class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
          

          
          <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Menu Toggle Script -->
<script>
  $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
  });
</script>



