<div id="wrapper">
  <%= render "/static_pages/admin_sidebar" %>
  <div id="page-content-wrapper">
    <%= render "/static_pages/flash_container" %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          
            <h1>Listing Users</h1>
            <%= form_for(:user_search, :url => { :controller => "user", :action => "show"}, :method => "post" ) do |f| %>
              <%= f.select :search_category, ['role', 'age', 'sex', 'task', 'id'], :selected => 'role', class: 'form_control' %>
              <%= f.text_field :search_content %>
              <%= f.submit "Search", class: "btn btn-primary" %>
            <% end %>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Login ID</th>
                  <th>Name</th>
                  <th>Sex</th>
                  <th>Address</th>
                  <th>Birthdate</th>
                  <th>Cellphone</th>
                  <th>Type</th>
                  <th colspan="2">Action</th>
                </tr>
              </thead>

              <tbody>
                <% if @user_all_infos != nil %>
                  <% @user_all_infos.each do |user| %>
                    <tr>
                      <td><%= user.user_id %></td>
                      <td><%= user.login_id %></td>
                      <td><%= user.name %></td>
                      <td><%= user.sex %></td>
                      <td><%= user.address %></td>
                      <td><%= user.birthdate %></td>
                      <td><%= user.cellphone %></td>
                      <!-- eval user -->
                      <% if user.is_eval %>
                      <td>eval</td>
                      <td><%= link_to "See Details", :controller => "evaluate", :action => :index, :user_id => user.user_id %></td>
                      <td><%= link_to 'Delete', user, method: :destroy, data: { confirm: 'Are you sure?' } %></td>
                      <!-- submit user -->
                      <% elsif user.is_submit %>
                      <td>submit</td>
                      <td><%= link_to "See Details", :controller => "participate", :action => :index, :user_id => user.user_id %></td>
                      <td><%= link_to 'Delete', user, method: :destroy, data: { confirm: 'Are you sure?' } %></td>
                      <!-- admin user -->
                      <% elsif user.is_admin %>
                      <td>admin</td>
                      <td></td>
                      <td></td>
                      <% end %>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
            <br><br><br><br>
          <%= render "/static_pages/menu_toggle" %>
        </div>
      </div>
    </div>
  </div>
</div>
