<div id="wrapper">
  <%= render "/static_pages/admin_sidebar" %>
  <div id="page-content-wrapper">
    <%= render "/static_pages/flash_container" %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">

            <h1>Listing Details</h1>
            <h3> Pending Tasks </h3>
			<table class="table table-bordered">
              <thead>
                <tr>
                  <th> ID </th>
                  <th> Name </th>
                  <th> Description </th>
                  <th> Min upload period hour </th>
                  <th> TDT name </th>
                  <th> TDT schema information </th>
                </tr>
              </thead>
              <tbody>
                <% @pending_tasks.each do |task| %>
                  <tr>
                    <td><%= task.task_id %></td>
                    <td><%= task.task_name %></td>
                    <td><%= task.description %></td>
                    <td><%= task.min_upload_period_hour %></td>
                    <td><%= task.tdt_name %></td>
                    <td><%= task.tdt_schema_info %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

            <h3> Permitted Tasks </h3>
			<table class="table table-bordered">
              <thead>
                <tr>
                  <th> ID </th>
                  <th> Name </th>
                  <th> Description </th>
                  <th> Min upload period hour </th>
                  <th> TDT name </th>
                  <th> TDT schema information </th>
                </tr>
              </thead>
              <tbody>
                <% @permitted_tasks.each do |task| %>
                  <tr>
                    <td><%= task.task_id %></td>
                    <td><%= task.task_name %></td>
                    <td><%= task.description %></td>
                    <td><%= task.min_upload_period_hour %></td>
                    <td><%= task.tdt_name %></td>
                    <td><%= task.tdt_schema_info %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

            <br>
          <%= render "/static_pages/menu_toggle" %>
        </div>
      </div>
    </div>
  </div>
</div>
