<div id="wrapper">
  <%= render "/static_pages/admin_sidebar" %>
  <div id="page-content-wrapper">
    <%= render "/static_pages/flash_container" %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          
            <h2> Pending Users </h2>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th> ID </th>
                  <th> Name </th>
                  <th> Sex </th>
                  <th> Address </th>
                  <th> Birthdate </th>
                  <th> Cellphone </th>
                  <th colspan="2"> Status Change </th>
                </tr>
              </thead>
              <tbody>
                <% @pending_users.each do |pending_user| %>
                  <tr>
                    <td><%= pending_user.user_id %></td>
                    <td><%= pending_user.name %></td>
                    <td><%= pending_user.sex %></td>
                    <td><%= pending_user.address %></td>
                    <td><%= pending_user.birthdate %></td>
                    <td><%= pending_user.cellphone %></td>
                    <td><%= link_to "Permit", :controller => "participate", :action => :update, :task_id => @task_id, :user_id => pending_user.user_id, :user_state => "permitted" %></td>
                    <td><%= link_to "Decline", :controller => "participate", :action => :update, :task_id => @task_id, :user_id => pending_user.user_id, :user_state => "declined" %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <br>

            <h2> Permitted Users </h2>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th> ID </th>
                  <th> Name </th>
                  <th> Sex </th>
                  <th> Address </th>
                  <th> Birthdate </th>
                  <th> Cellphone </th>
                </tr>
              </thead>
              <tbody>
                <% @permitted_users.each do |permitted_user| %>
                  <tr>
                    <td><%= permitted_user.user_id %></td>
                    <td><%= permitted_user.name %></td>
                    <td><%= permitted_user.sex %></td>
                    <td><%= permitted_user.address %></td>
                    <td><%= permitted_user.birthdate %></td>
                    <td><%= permitted_user.cellphone %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <br>

          <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Menu Toggle Script -->
<script>
  $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
  });
</script>
